DEV_GUILD_ID=
DISCORD_TOKEN=
CLIENT_ID=
BOT_NAME="@mahiru"
DATABASE_URL=file:../../storage/local.db
DRIZZLE_DIR=
SECRET_KEY=
ADMIN_KEY=
BE_URL=http://localhost:8100
WEB_URL=http://localhost:3000
OLLAMA_URL=http://localhost:11434
REVERSE_PROXY_KEY=
DISABLE_EMBEDS=false
GUILD_WHITELIST=
CHATBOT_LISTEN_CHANNEL_WHITELIST=
CHATBOT_MODELS=gemma4:e2b,gemma3:4b
