DISCORD_TOKEN=
CLIENT_ID=
DEV_GUILD_ID=
DATABASE_URL=file:../../storage/local.db
SECRET_KEY=
ADMIN_KEY=
BE_URL=http://localhost:8100
WEB_URL=http://localhost:3000
OPEN_WEBUI_URL=http://192.168.1.100:8800
OPEN_WEBUI_TOKEN=
FORCE_CHATBOT_CHANNEL_ID=
DISABLE_EMBEDS=false
CHATBOT_MODELS=gemma4:e2b,gemma3:4b
